.movies-container {
  padding: 20px;
  background-color: white;
  color: black;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Przesunięcie na środek wertykalnie */
  text-align: center; /* Wyśrodkowanie tekstu */
  position: relative; /* Dodaj pozycję względną */
}

.movies-container input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid blue;
  background-color: transparent;
  color: black;
  margin-bottom: 10px; /* Dodanie odstępu między input a button */
  position: relative; /* Dodaj pozycję względną */
}

.movies-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movies-container button:focus,
.movies-container button:hover {
  box-shadow: 0 0 5px #007bff;
}
.genre-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.genre-button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.genre-button:focus,
.genre-button:hover {
  background-color: #0056b3;
}

.dark-mode .genre-button {
  background-color: #b65a04;
}

.dark-mode .genre-button:focus,
.dark-mode .genre-button:hover {
  background-color: #8b4e02;
}
.dark-mode .movies-container {
  background-color: #333;
  color: #fff;
}

.dark-mode .movies-container input[type='text'] {
  background-color: #333;
  color: #fff;
}

.dark-mode .movies-container button {
  background-color: #b65a04;
  color: white;
}

.dark-mode .movies-container button:focus,
.dark-mode .movies-container button:hover {
  box-shadow: 0 0 5px #b65a04;
}

.movies-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-items {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.movie-thumbnail {
  width: 200px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.movies-title {
  color: black;
}

.dark-mode .movies-title {
  color: white;
}
