/* MovieDetails.css */

.movie-container {
  padding: 20px;
  min-height: 450px;
}

.movie-details-container {
  display: flex;
}
@media (max-width: 680px) {
  .movie-details-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 681px) and (max-width: 1200px) {
  .movie-details-container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.movie-details {
  margin-left: 20px;
}

.movie-title {
  font-size: 24px;
}

.movie-genre {
  font-size: 16px;
  margin-top: 8px;
}

.movie-release {
  font-size: 16px;
  margin-top: 8px;
}

.movie-overview {
  margin-top: 20px;
  font-size: 16px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.trailer-list {
  list-style: none;
  padding: 0;
}

.trailer-item {
  margin-top: 10px;
}

.trailer-link {
  text-decoration: none;
  color: #007bff;
  display: inline-block;
}

.dark-mode .movie-container {
  background-color: #222;
  color: #fff;
}

.dark-mode .movie-details {
  color: #fff;
}

.dark-mode .movie-genre,
.dark-mode .movie-release,
.dark-mode .movie-overview,
.dark-mode .trailer-link {
  color: #ccc;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.movie-details-image {
  width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.trailer-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.movie-image:hover {
  transform: scale(1.1);
}
