.reviews-container {
  padding: 20px;
  min-height: 500px;
}

.reviews-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviews-list {
  list-style: none;
  padding: 0;
}

.reviews-list li {
  margin-bottom: 20px;
}

.reviews-list p {
  margin: 0;
}

.reviews-list .author {
  font-weight: bold;
}

/* Style dla dark mode */
.dark-mode .reviews-container {
  background-color: #222;
  color: #fff;
}

.dark-mode .reviews-list .author {
  color: #4db2ec;
}
