body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Domyślne tło strony */
  transition: background-color 0.3s ease-in-out; /* Dodaj animację zmiany tła */
}

.dark-mode body,
.dark-mode html {
  background-color: #222; /* Tło strony w trybie ciemnym */
}

#darkModeToggle {
  margin: 20px;
}

#darkModeToggle {
  background-color: #f1c40f;
  border: none;
  width: 40px;
  height: 25px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;
}

#darkModeToggle::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  left: 3px;
  transition: transform 0.3s ease;
  z-index: 3;
}

#darkModeToggle::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  right: 3px;
  border-radius: 50%;
  transform-origin: right;
  transition: transform 0.3s ease;
  display: none;
}

.dark-mode #darkModeToggle {
  background-color: #636e72;
}

.dark-mode #darkModeToggle::before {
  transform: translateX(3px);
  background-color: #636e72;
}

.dark-mode #darkModeToggle::after {
  transform: translateX(-1px);
  display: flex;
}
nav {
  display: flex;
  align-items: center;

  height: 250px;

  background: #222;
}
.menu {
  list-style: none;
  display: flex;
  text-align: center;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

h2 {
  margin-bottom: 15px;

  font-size: 24px;
  margin-bottom: 20px;
}
.dark-mode h2 {
  color: #fff;
}
p {
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.btn:focus,
.btn:hover {
  box-shadow: 0 0 5px #444;
  background-color: #444;
}

.dark-mode .btn {
  background-color: #444;
  color: #fff;
}
.dark-mode .btn:focus,
.dark-mode .btn:hover {
  box-shadow: 0 0 5px #007bff;
  background-color: #007bff;
}
